html, body{
    margin: 0px;
    font-size: 18px;
    font-family: arial;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}

.tab_navigation{
    padding: 0;
    margin: 0;
    list-style: none;
}
.tab_navigation li{
    display: inline-block;
    padding: 5px 15px;
    background: #0a6fc4;
    min-width: 100px;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.tab_navigation li.active,
.tab_navigation li:hover{
    background: #035091;
}
.tab_container_area{}
.tab_container{
    padding: 10px;
    background: #035091;
    color: #fff;
    border-radius: 0 5px 5px 5px;
    display: none;
}


.tab_navigation1{
    padding: 0;
    margin: 0;
    list-style: none;
}
.tab_navigation1 li{
    display: inline-block;
    padding: 5px 15px;
    background: #0a6fc4;
    min-width: 100px;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.tab_navigation1 li.active,
.tab_navigation1 li:hover{
    background: #095091;
}
.tab_container_area{}
.tab_container1{
    padding: 10px;
    background: #095091;
    color: #fff;
    border-radius: 0 5px 5px 5px;
    display: none;
}

.accordian_box{
    border: 1px solid grey;
    padding: 0 15px 1px;
    background: #e1e1e1;
    color: #332e2e;
    border-radius: 10px;
    margin-bottom: 20px;

}
.accordian_box.active{
    background: #fff;
}
.acc_trigger{
    padding: 15px 40px 15px 0;
    margin: 0;
    font-family: 30px;
    position: relative;
}
.acc_trigger i{
    position: absolute;
    right:  0;
    top: 16px;
    font-size: 20px;
}
.acc_container{
    display: none;
}
.acc_container p{
    margin-top: 0px;
    line-height: 1.6;
}